{
  "openapi": "3.1.0",
  "info": {
    "title": "github-mcp API",
    "version": "1.0.0",
    "description": "GitHub API integration via Model Context Protocol for repository management, PRs, issues, and releases."
  },
  "servers": [
    {
      "url": "https://api.techknowmad.ai/skills/github-mcp"
    }
  ],
  "paths": {
    "/github_operation": {
      "post": {
        "operationId": "github_operation",
        "summary": "Execute GitHub API operations via MCP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operation": {
                    "type": "string",
                    "description": "GitHub operation to perform"
                  },
                  "repo": {
                    "type": "string",
                    "description": "Repository in owner/repo format"
                  },
                  "params": {
                    "type": "object",
                    "description": "Operation parameters"
                  }
                },
                "required": [
                  "operation",
                  "repo"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}