{
  "openapi": "3.1.0",
  "info": {
    "title": "code-review-engine API",
    "version": "1.0.0",
    "description": "Automated code review with security checks, style enforcement, and best practice validation."
  },
  "servers": [
    {
      "url": "https://api.techknowmad.ai/skills/code-review-engine"
    }
  ],
  "paths": {
    "/review_code": {
      "post": {
        "operationId": "review_code",
        "summary": "Run automated code review on a target file or directory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "File or directory path to review"
                  },
                  "language": {
                    "type": "string",
                    "description": "Programming language"
                  },
                  "strict": {
                    "type": "boolean",
                    "description": "Enable strict mode",
                    "default": false
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}