{
  "openapi": "3.1.0",
  "info": {
    "title": "tdd-enforcer API",
    "version": "1.0.0",
    "description": "Test-driven development enforcement with coverage tracking, test-first workflow validation, and red-green-refactor cycle monitoring."
  },
  "servers": [
    {
      "url": "https://api.techknowmad.ai/skills/tdd-enforcer"
    }
  ],
  "paths": {
    "/enforce_tdd": {
      "post": {
        "operationId": "enforce_tdd",
        "summary": "Enforce TDD workflow with coverage tracking and cycle validation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_path": {
                    "type": "string",
                    "description": "Path to project"
                  },
                  "coverage_threshold": {
                    "type": "number",
                    "description": "Minimum coverage percentage",
                    "default": 80
                  },
                  "strict": {
                    "type": "boolean",
                    "description": "Block commits without tests",
                    "default": true
                  }
                },
                "required": [
                  "project_path"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}