{
  "openapi": "3.1.0",
  "info": {
    "title": "agent-orchestrator API",
    "version": "1.0.0",
    "description": "Multi-agent workflow orchestration with dependency resolution, parallel execution, and fault-tolerant task routing. Coordinates complex pipelines where multiple agents collaborate on compound tasks."
  },
  "servers": [
    {
      "url": "https://api.techknowmad.ai/skills/agent-orchestrator"
    }
  ],
  "paths": {
    "/orchestrate_workflow": {
      "post": {
        "operationId": "orchestrate_workflow",
        "summary": "Execute a multi-agent workflow with dependency resolution and parallel task routing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workflow": {
                    "type": "object",
                    "description": "Workflow definition with tasks, dependencies, and agent assignments"
                  },
                  "config": {
                    "type": "object",
                    "description": "Execution config (parallelism, timeout, retry policy)"
                  },
                  "dry_run": {
                    "type": "boolean",
                    "default": false,
                    "description": "Validate without executing"
                  }
                },
                "required": [
                  "workflow"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "partial",
                        "failed"
                      ]
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "execution_graph": {
                      "type": "object"
                    },
                    "duration_ms": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}