{
  "openapi": "3.1.0",
  "info": {
    "title": "context-engineer API",
    "version": "1.0.0",
    "description": "Builds optimal context windows for LLM interactions. Compresses, prioritizes, and structures information to maximize relevance within token limits. Implements retrieval-augmented context assembly."
  },
  "servers": [
    {
      "url": "https://api.techknowmad.ai/skills/context-engineer"
    }
  ],
  "paths": {
    "/build_context": {
      "post": {
        "operationId": "build_context",
        "summary": "Assemble an optimal context window from multiple sources within token limits",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Paths or URIs to context sources"
                  },
                  "query": {
                    "type": "string",
                    "description": "Query to optimize context for"
                  },
                  "max_tokens": {
                    "type": "integer",
                    "default": 8000,
                    "description": "Maximum token budget"
                  },
                  "strategy": {
                    "type": "string",
                    "enum": [
                      "relevance",
                      "recency",
                      "hybrid"
                    ],
                    "default": "hybrid"
                  }
                },
                "required": [
                  "sources",
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "context": {
                      "type": "string"
                    },
                    "token_count": {
                      "type": "integer"
                    },
                    "sources_used": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "compression_ratio": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}